<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1072109851920-7gqc3eqg5l8lu7lchc6eqp2rdji5hgl4</string>
			</array>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Medium.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>lightBlueColor</string>
		<key>UIImageName</key>
		<string>splash</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
	<key>NSContactsUsageDescription</key>
	<string>App users your contacts</string>
</dict>
</plist>
