<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CarDealerApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3155BAD88D5C729CA159CCE1785150D7DA8D3FD5</string>
				<key>dateExpires</key>
				<string>14/11/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3155BAD88D5C729CA159CCE1785150D7DA8D3FD5</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AORangeSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KPPHDRLS38</string>
						<key>name</key>
						<string>Mitesh S</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3155BAD88D5C729CA159CCE1785150D7DA8D3FD5</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KPPHDRLS38</string>
						<key>name</key>
						<string>Mitesh S</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3155BAD88D5C729CA159CCE1785150D7DA8D3FD5</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KPPHDRLS38</string>
						<key>name</key>
						<string>Mitesh S</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3155BAD88D5C729CA159CCE1785150D7DA8D3FD5</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KPPHDRLS38</string>
						<key>name</key>
						<string>Mitesh S</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3155BAD88D5C729CA159CCE1785150D7DA8D3FD5</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KPPHDRLS38</string>
						<key>name</key>
						<string>Mitesh S</string>
					</dict>
					<key>versionNumber</key>
					<string>10.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3155BAD88D5C729CA159CCE1785150D7DA8D3FD5</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KPPHDRLS38</string>
						<key>name</key>
						<string>Mitesh S</string>
					</dict>
					<key>versionNumber</key>
					<string>10.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3155BAD88D5C729CA159CCE1785150D7DA8D3FD5</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KPPHDRLS38</string>
						<key>name</key>
						<string>Mitesh S</string>
					</dict>
					<key>versionNumber</key>
					<string>10.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3155BAD88D5C729CA159CCE1785150D7DA8D3FD5</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KPPHDRLS38</string>
						<key>name</key>
						<string>Mitesh S</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3155BAD88D5C729CA159CCE1785150D7DA8D3FD5</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Imaginary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KPPHDRLS38</string>
						<key>name</key>
						<string>Mitesh S</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3155BAD88D5C729CA159CCE1785150D7DA8D3FD5</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lightbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KPPHDRLS38</string>
						<key>name</key>
						<string>Mitesh S</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3155BAD88D5C729CA159CCE1785150D7DA8D3FD5</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KPPHDRLS38</string>
						<key>name</key>
						<string>Mitesh S</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3155BAD88D5C729CA159CCE1785150D7DA8D3FD5</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KPPHDRLS38</string>
						<key>name</key>
						<string>Mitesh S</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>KPPHDRLS38.com.potenza.cardealer</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:https://potenzaglobalsolutionss.page.link/</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>KPPHDRLS38</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>CarDealerApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1d4f26ef-0ab3-4f49-ba58-36e0e8c9fef9</string>
				<key>dateExpires</key>
				<string>13/02/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.potenza.cardealer</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>KPPHDRLS38</string>
				<key>name</key>
				<string>Mitesh S</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
